 .u-section-1 {
  background-image: url("images/BeigeSkincareProductLandingPageTemplate2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 789px;
}

.u-section-1 .u-image-1 {
  width: 119px;
  height: 57px;
  margin: 0 auto 0 -26px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  margin: 13px auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  margin: 30px 246px 0 30px;
}

.u-section-1 .u-accordion-1 {
  width: 1140px;
  margin: 30px auto 60px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 25px 30px;
}

.u-section-1 .u-icon-1 {
  height: 37px;
  width: 37px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 25px 30px;
}

.u-section-1 .u-icon-2 {
  height: 37px;
  width: 37px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 25px 30px;
}

.u-section-1 .u-icon-3 {
  height: 37px;
  width: 37px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 130px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -11px;
    margin-right: 146px;
    margin-left: 130px;
  }

  .u-section-1 .u-accordion-1 {
    width: 940px;
    margin-bottom: 53px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 240px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 210px;
    margin-left: 240px;
  }

  .u-section-1 .u-accordion-1 {
    width: 720px;
    margin-bottom: 0;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -51px;
    margin-left: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 300px;
    margin-left: 330px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 187px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -175px;
    margin-left: 430px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 400px;
    margin-left: 430px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
    margin-left: 400px;
  }
}